<%= form_for(@eduzone) do |f| %>
  <% if @eduzone.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@eduzone.errors.count, "error") %> prohibited this eduzone from being saved:</h2>

      <ul>
      <% @eduzone.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
