<h1>Contacts Us</h1>
<p>
	Hello guys 
</p>

<div id="page2" class="content">
<div class="container_12">
	
<div class="grid_3">
					<div class="box maxheight">
						<img src="[mfassetpath]/box_img1.jpg" alt="">
						<div class="text1"><a href="#">Raju Shah</a></div>senior manager
						<div class="socials1">
							<a href="#"></a>
							<a href="#"></a>
							<a href="#"></a>
							<a href="#"></a>
						</div>
					</div>
				</div>


				<div class="grid_3">
					<div class="box maxheight">
						<img src="[mfassetpath]/box_img2.jpg" alt="">
						<div class="text1"><a href="#">Anton Stegner</a></div> manager
						<div class="socials1">
							<a href="#"></a>
							<a href="#"></a>
							<a href="#"></a>
							<a href="#"></a>
						</div>
					</div>
				</div>
			</div>
	
		</div>