<!DOCTYPE html>
<html lang="en">

<h1>Courses Offered</h1>

	<table> 
        <div class='main'>
            <table class="table ">
              <th>MEDICINE</th>
              <th>ENGINEERING</th>
              <th>MEDICINE</th>

              <tr>
              	<td>AIIMS</td>
              	<td>NIT</td>
              	<td>NIT</td>
              </tr>
              <tr>
              	<td>AIIMSss</td>
              	<td>NITss</td>
              	<td>NIT</td>
              </tr>
              <tr>
              	<td>AIIMS</td>
              	<td>NIT</td>
              	<td>NIT</td>
              </tr>

              
            </table>
        </div>
     </table>      

</head>