<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
 <title>EduZone App</title>  
</head>
    <body>  
        <center><p>
            A dream doesn't become reality through magic;</br>
               it takes sweat, </br>determination and hard work.
        </p> </center> 
        <div id="wrapper">
            Piece of text inside a 500px width div centered on the page
        </div>
        <section class="header-15-sub bg-midnight-blue">
         	<div class="background">&nbsp;</div>
                <div class="span6 offset1 player-wrapper">
                    <div class="player">
                           <iframe src="http://player.vimeo.com/video/29568236?color=3498db" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                    </div>
                    
                </div>
            </div> 
        </section>    
	</body>
</html>


