<h1>Services</h1>
<p>
	we provide following Preparation Classes
</p>

 <h1>Preparation classes<h1>
 	<ul>
 	<h4><a href="https://sat.collegeboard.org/home"><li>SAT</li></a></h4>
 	<h4><a href="http://www.mba.com/global"><li>GMAT</li></a></h4>
 	<h4><a href="http://www.ets.org/gre"><li>GRE</li></a></h4>
</ul>
 