<!DOCTYPE html>
<html>

<head>
  <title>EduZone</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>	
  <%= image_tag 'images.jpeg' %>
		<div class="row">
			<div class="span6">
        <center><h1>Welcome to Edu Zone consultancy</h1></center>
				<div class="nav nav-tabs">
          <li><%= link_to "Home", root_path, class: "btn btn-primary" %></li>
          <li><%= link_to "About", about_path, class: "btn btn-primary" %></li>	
          <li><%= link_to "Services", service_path, class: "btn btn-primary"%></li>
          <li><%= link_to "Courses", course_path, class: "btn btn-primary"%></li>
          <li><%= link_to "Contacts", contact_path, class: "btn btn-primary"%></li> 
        </div>
      </div>
    </div>
  </br>
  <div class="container">
<%= yield %>
</div>
</body>
</html>
